@import 'tailwindcss';

* {
  box-sizing: border-box;
}

@theme {
  /* Colors */
  --color-pink: #ceb7ff;

  /* Breakpoints */
  --breakpoint-xs: 460px;
}

body {
  background-color: #090909;
  min-width: 360px;
}

section {
  position: relative;
}
/* 
#about {
  background: url('/assets/frame-1.png') center/cover no-repeat;
}

#skills {
  background: url('/assets/frame-2.png') center/cover no-repeat;
}

#experience {
  background: url('/assets/frame-4.png') center/cover no-repeat;
}

#projects {
  background: url('/assets/frame-3.png') center/cover no-repeat;
} */

.neon-text {
  -webkit-text-stroke: 2px #fff;
}

.neon-stroke {
  -webkit-text-stroke: 2px #fff;
}

.neon-shadow {
  text-shadow:
    0 0 5px #ad4378,
    0 0 10px #ec4899,
    0 0 20px #ec4899,
    0 0 40px #ec4899;
}
